<nav  class="navbar navbar-expand-lg navbar-dark av-principal">
    <img class="logo mr-5" src="images/logo.png" href="#">
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav">
            <a href="/" class="nav-link font-weight-bold anchor-nav">
                STORE
            </a>
        </ul>
        <ul class="navbar-nav ml-auto">
            <a class="nav-link font-weight-bold anchor-nav" href="addfunds">
                ADD FUNDS
            </a>
            <a class="nav-link font-weight-bold anchor-nav" href="">
                SELL
            </a>
            <a class="nav-link font-weight-bold anchor-nav" href="">
                INVENTORY
            </a>
            <a class="nav-link font-weight-bold anchor-nav" href="">
                SIGN IN
            </a>
        </ul>
    </div>
</nav>