<%- include('../partials/header'); %>

    <h2 class="text-center text-light mt-3">1. SELECT THE AMOUNT OF FUNDS TO ADD</h2>
    <div class="row mx-auto mt-3">
        <div class="col-lg-3 col-md-4 col-sm-6 mt-3 mb-3">
            <h2 class="text-light">$10.00</h2>
            <h6 class="text-light">FUNDS TO ADD</h6>
            <div class="separador text-center">
                <button class="btn btn-primary">ADD FUNDS</button>
            </div>
        </div>
        <div class="col-lg-3 col-md-4 col-sm-6 mt-3 mb-3">
            <h2 class="text-light">$25.00</h2>
            <h6 class="text-light">FUNDS TO ADD</h6>
            <div class="separador text-center">
                <button class="btn btn-primary">ADD FUNDS</button>
            </div>
        </div>
        <div class="col-lg-3 col-md-4 col-sm-6 mt-3 mb-3">
            <h2 class="text-light">$50.00</h2>
            <h6 class="text-light">FUNDS TO ADD</h6>
            <div class="separador text-center">
                <button class="btn btn-primary">ADD FUNDS</button>
            </div>
        </div>
        <div class="col-lg-3 col-md-4 col-sm-6 mt-3 mb-3">
            <h2 class="text-light">$100.00</h2>
            <h6 class="text-light">FUNDS TO ADD</h6>
            <div class="separador text-center">
                <button class="btn btn-primary">ADD FUNDS</button>
            </div>
        </div>
        <div class="col-lg-3 col-md-4 col-sm-6 mt-3 mb-3">
            <h2 class="text-light">$250.00</h2>
            <h6 class="text-light">FUNDS TO ADD</h6>
            <div class="separador text-center">
                <button class="btn btn-primary">ADD FUNDS</button>
            </div>
        </div>
        <div class="col-lg-3 col-md-4 col-sm-6 mt-3 mb-3">
            <h2 class="text-light">$500.00</h2>
            <h6 class="text-light">FUNDS TO ADD</h6>
            <div class="separador text-center">
                <button class="btn btn-primary">ADD FUNDS</button>
            </div>
        </div>
        <div class="col-lg-3 col-md-4 col-sm-6 mt-3 mb-3">
            <h2 class="text-light">$1000.00</h2>
            <h6 class="text-light">FUNDS TO ADD</h6>
            <div class="separador text-center">
                <button class="btn btn-primary">ADD FUNDS</button>
            </div>
        </div>
        <div class="col-lg-3 col-md-4 col-sm-6 mt-3 mb-3">
            <h2 class="text-light">$1500.00</h2>
            <h6 class="text-light">FUNDS TO ADD</h6>
            <div class="separador text-center">
                <button class="btn btn-primary">ADD FUNDS</button>
            </div>
        </div>
    </div>
    <h2 class="text-center text-light mt-5">2. SELECT THE PAYMENT METHOD</h2>
    <div class="row mx-auto mt-3">
        <div class="col-lg-4 text-center">
            <img class="logo-payment mx-auto mb-3 " src="images/paypal-logo.png" alt="">
            <div class="separador mb-5">
                <button class="btn btn-success">CHECKOUT</button>
            </div>
        </div>
        <div class="col-lg-4 text-center">
            <img class="logo-payment-cc mx-auto  mb-3" src="images/ccs-logo.png" alt="">
            <div class="separador mb-5">
                <button class="btn btn-success">CHECKOUT</button>
            </div>
        </div>
        <div class="col-lg-4 text-center">
            <img class="logo-payment-bank mx-auto  mb-3" src="images/bank-logo.png" alt="">
            <div class="separador mb-5">
                <button class="btn btn-success">CHECKOUT</button>
            </div>
        </div>
    </div>

    
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js" integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js" integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN" crossorigin="anonymous"></script>
<%- include("../partials/footer") -%>