<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Fenrir Skins</title>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
    <link type="text/css" rel="stylesheet" href='/css/style.css'>

</head>
<body>
    <div class="container">
        <!-- header -->
        <%- include('../partials/header'); %>
        <!-- menu -->
        <%- include('../partials/menu'); %>
    </div>


    <div class="row mx-auto mt-3">
        <div class="col-lg-3 col-md-4 col-sm-6">
            <h4 class="m-0 h4-menor mt-1">M4A4 - Howl</h4>
            <h6 class="m-0 h6-menor mb-2">Minimal Wear</h6>
            <div class="text-center">
                <img src="images/m4-howl.png" class="item-photo" alt="">
            </div>
            <p class="m-0 p-maior">PRICE: $2100.00</p>
            <p class="m-0 p-menor">SUGGESTED PRICE: $2400.00</p>
            <div class="text-center">
                <div class="btn-group">
                    <button type="button" class="btn btn-primary btn-sm">INSPECT</button>
                    <button type="button" class="btn btn-danger btn-sm">ADD TO CART</button>
                    <button type="button" class="btn btn-success btn-sm">BUY NOW</button>
                </div>
            </div>
            <p class="p-menor mt-2">Wear: 340987230948723800.1%</p>
        </div>
        <div class="col-lg-3 col-md-4 col-sm-6 ">
            <h4 class="m-0 h4-menor mt-1">AK-47 | Fire Serpent</h4>
            <h6 class="m-0 h6-menor mb-2">Factory New</h6>
            <div class="text-center">
                <img src="images/ak-fire-serpent.png" class="item-photo" alt="">
            </div>
            <p class="m-0 p-maior">PRICE: $2000.00</p>
            <p class="m-0 p-menor">SUGGESTED PRICE: $2500.00</p>
            <div class="text-center">
                <div class="btn-group">
                    <button type="button" class="btn-primary btn-sm">INSPECT</button>
                    <button type="button" class="btn-danger btn-sm">ADD TO CART</button>
                    <button type="button" class="btn-success btn-sm">BUY NOW</button>
                </div>
            </div>
            <p class="p-menor mt-2">Wear: 340987230948723800.1%</p>
        </div>
        <div class="col-lg-3 col-md-4 col-sm-6 ">
            <h4 class="m-0 h4-menor mt-1">Karambit | Fade</h4>
            <h6 class="m-0 h6-menor mb-2">Factory New</h6>
            <div class="text-center" >
                <img src="images/karambit-fade.png" class="item-photo" alt="">
            </div>
            <p class="m-0 p-maior">PRICE: $5000.00</p>
            <p class="m-0 p-menor">SUGGESTED PRICE: $6800.00</p>
            <div class="text-center">
                <div class="btn-group">
                    <button type="button" class="btn-primary btn-sm">INSPECT</button>
                    <button type="button" class="btn-danger btn-sm">ADD TO CART</button>
                    <button type="button" class="btn-success btn-sm">BUY NOW</button>
                </div>
            </div>
            <p class="p-menor mt-2">Wear: 340987230948723800.1%</p>
        </div>
        <div class="col-lg-3 col-md-4 col-sm-6 ">
            <h4 class="m-0 h4-menor mt-1">AWP | Gungnir</h4>
            <h6 class="m-0 h6-menor mb-2">Minimal Wear</h6>
            <div class="text-center" >
                <img src="images/awp-gungnir.png" class="item-photo" alt="">
            </div>
            <p class="m-0 p-maior">PRICE: $9000.00</p>
            <p class="m-0 p-menor">SUGGESTED PRICE: $9000.00</p>
            <div class="text-center">
                <div class="btn-group">
                    <button type="button" class="btn-primary btn-sm">INSPECT</button>
                    <button type="button" class="btn-danger btn-sm">ADD TO CART</button>
                    <button type="button" class="btn-success btn-sm">BUY NOW</button>
                </div>
            </div>
            <p class="p-menor mt-2">Wear: 340987230948723800.1%</p>
        </div>
        <div class="col-lg-3 col-md-4 col-sm-6 ">
            <h4 class="m-0 h4-menor mt-1">M9 Bayonet | Marble Fade</h4>
            <h6 class="m-0 h6-menor mb-2">Minimal Wear</h6>
            <div class="text-center" >
                <img src="images/m9-marble-fade.png" class="item-photo" alt="">
            </div>
            <p class="m-0 p-maior">PRICE: $500.00</p>
            <p class="m-0 p-menor">SUGGESTED PRICE: $550.00</p>
            <div class="text-center">
                <div class="btn-group">
                    <button type="button" class="btn-primary btn-sm">INSPECT</button>
                    <button type="button" class="btn-danger btn-sm">ADD TO CART</button>
                    <button type="button" class="btn-success btn-sm">BUY NOW</button>
                </div>
            </div>
            <p class="p-menor mt-2">Wear: 340987230948723800.1%</p>
        </div>
        <div class="col-lg-3 col-md-4 col-sm-6 ">
            <h4 class="m-0 h4-menor mt-1">AWP | Dragon Lore</h4>
            <h6 class="m-0 h6-menor mb-2">Minimal Wear</h6>
            <div class="text-center" >
                <img src="images/awp-dragon-lore.png" class="item-photo" alt="">
            </div>
            <p class="m-0 p-maior">PRICE: $5000.00</p>
            <p class="m-0 p-menor">SUGGESTED PRICE: $5500.00</p>
            <div class="text-center">
                <div class="btn-group">
                    <button type="button" class="btn-primary btn-sm">INSPECT</button>
                    <button type="button" class="btn-danger btn-sm">ADD TO CART</button>
                    <button type="button" class="btn-success btn-sm">BUY NOW</button>
                </div>
            </div>
            <p class="p-menor mt-2">Wear: 340987230948723800.1%</p>
        </div>
        <div class="col-lg-3 col-md-4 col-sm-6 ">
            <h4 class="m-0 h4-menor mt-1">AK-47 | Legion of Anubis</h4>
            <h6 class="m-0 h6-menor mb-2">Factory New</h6>
            <div class="text-center" >
                <img src="images/ak-legion-of-anubis.png" class="item-photo" alt="">
            </div>
            <p class="m-0 p-maior">PRICE: $300.00</p>
            <p class="m-0 p-menor">SUGGESTED PRICE: $350.00</p>
            <div class="text-center">
                <div class="btn-group">
                    <button type="button" class="btn-primary btn-sm">INSPECT</button>
                    <button type="button" class="btn-danger btn-sm">ADD TO CART</button>
                    <button type="button" class="btn-success btn-sm">BUY NOW</button>
                </div>
            </div>
            <p class="p-menor mt-2">Wear: 340987230948723800.1%</p>
        </div>
        <div class="col-lg-3 col-md-4 col-sm-6 ">
            <h4 class="m-0 h4-menor mt-1">Glock-18 | Vogue</h4>
            <h6 class="m-0 h6-menor mb-2">Minimal Wear</h6>
            <div class="text-center" >
                <img src="images/glock-vogue.png" class="item-photo" alt="">
            </div>
            <p class="m-0 p-maior">PRICE: $30.00</p>
            <p class="m-0 p-menor">SUGGESTED PRICE: $30.00</p>
            <div class="text-center">
                <div class="btn-group">
                    <button type="button" class="btn-primary btn-sm">INSPECT</button>
                    <button type="button" class="btn-danger btn-sm">ADD TO CART</button>
                    <button type="button" class="btn-success btn-sm">BUY NOW</button>
                </div>
            </div>
            <p class="p-menor mt-2">Wear: 340987230948723800.1%</p>
        </div>
        <div class="col-lg-3 col-md-4 col-sm-6 ">
            <h4 class="m-0 h4-menor mt-1">AK-47 | Wild Lotus</h4>
            <h6 class="m-0 h6-menor mb-2">Factory New</h6>
            <div class="text-center" >
                <img src="images/ak-wild-lotus.png" class="item-photo" alt="">
            </div>
            <p class="m-0 p-maior">PRICE: $900.00</p>
            <p class="m-0 p-menor">SUGGESTED PRICE: $1000.00</p>
            <div class="text-center">
                <div class="btn-group">
                    <button type="button" class="btn-primary btn-sm">INSPECT</button>
                    <button type="button" class="btn-danger btn-sm">ADD TO CART</button>
                    <button type="button" class="btn-success btn-sm">BUY NOW</button>
                </div>
            </div>
            <p class="p-menor mt-2">Wear: 340987230948723800.1%</p>
        </div>
        <div class="col-lg-3 col-md-4 col-sm-6 ">
            <h4 class="m-0 h4-menor mt-1">AWP | The Prince</h4>
            <h6 class="m-0 h6-menor mb-2">Factory New</h6>
            <div class="text-center" >
                <img src="images/awp-prince.png" class="item-photo" alt="">
            </div>
            <p class="m-0 p-maior">PRICE: $6000.00</p>
            <p class="m-0 p-menor">SUGGESTED PRICE: $6000.00</p>
            <div class="text-center">
                <div class="btn-group">
                    <button type="button" class="btn-primary btn-sm">INSPECT</button>
                    <button type="button" class="btn-danger btn-sm">ADD TO CART</button>
                    <button type="button" class="btn-success btn-sm">BUY NOW</button>
                </div>
            </div>
            <p class="p-menor mt-2">Wear: 340987230948723800.1%</p>
        </div>
    </div>
    


    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js" integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js" integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN" crossorigin="anonymous"></script>
</body>
</html>